<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SkyClub</title>
    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    @*<link rel="stylesheet" href="~/css/fullcalendar.min.css">
        https://fullcalendar.io/*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/css/tooplate.css">

    @*swiper*@
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    @*<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">*@
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link href="~/css/siteApp.css" rel="stylesheet" />
    @*CKEditor*@
    <script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

</head>
<body>
    @*<script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>*@
    <div class="container">
        @await Html.PartialAsync("_HeaderAppPartialView")
        <div class="row tm-content-row tm-mt-big">
            @RenderBody()
        </div>
        @await Html.PartialAsync("_FooterAppPartialView")
    </div>

    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>



    @*swiper*@
    @*<script src="https://unpkg.com/swiper/js/swiper.js"></script>*@
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script>      
        //$(window).bind("load", function () {
        //    const ckeditor = $('div.cke_1');
        //    ckeditor.addClass('form-control');
        //    this.console.log(ckeditor);
        //    console.log('zmieniono');

        //});
            var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            slidesPerColumn: 1,
            spaceBetween: 1,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },            
        });
        var editor = CKEDITOR.replace('Info');
        //CKEDITOR.replace.prototype.changeStyle = function () {
        //    const ckeditor = $('div.cke_1');
        //    ckeditor.addClass('form-control');
        //    this.console.log(ckeditor);
        //    console.log('zmieniono');
        //}
        
        //const text = document.getElementById('Info');
        //var changeStyle = function () {
        //    const ckeditor = $('cke_Info');
        //    ckeditor.addClass('form-control');
        //    this.console.log(ckeditor);
           
        //    console.log('zmieniono');
        //    const cke = document.getElementById('cke_1');
        //    // ckeditor.addClass('form-control');
        //    cke.classList.add('form-control');
        //    this.console.log(cke);
        //}


        
        //changeStyle();
        //
        //const ckediv = $('div');
        //ckediv.on('change', function () {
        //    const ckeditor = $('cke_Info');
        //    ckeditor.addClass('form-control');
        //    this.console.log(ckeditor);

        //    console.log('zmieniono');
        //    const cke = document.getElementById('cke_1');
        //    // ckeditor.addClass('form-control');
        //    cke.classList.add('form-control');
        //    this.console.log(cke);
        //});
        
    </script>
</body>
</html>
