<!DOCTYPE html>
<html lang="pl">
<head>
    @*<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Page - Dashboard Admin Template</title>
        Template 2108 Dashboard
        http://www.tooplate.com/view/2108-dashboard
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
         https://fonts.google.com/specimen/Open+Sans
        <link rel="stylesheet" href="~/css/fontawesome.min.css">
         https://fontawesome.com/
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
         https://getbootstrap.com/
        <link rel="stylesheet" href="~/css/tooplate.css">*@
    <title>SkyClub</title>
    <!--
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="paralotnia, lotnia, latanie, spadochron">
    <meta name="author" content="Tomasz Marciniak">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/hydro/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/hydro/css/magnific-popup.css">
    @*<link rel="stylesheet" href="~/hydro/css/font-awesome.min.css">*@
    @*<link rel="stylesheet" href="~/css/fontawesome.min.css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="~/css/tooplate-style.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/hydro/css/templatemo-style.css">
</head>
<body>
    <script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>
      
    @RenderBody()


    <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="~/hydro/js/jquery.js" type="text/javascript"></script>
    <script src="~/hydro/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/hydro/js/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="~/hydro/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="~/hydro/js/smoothscroll.js" type="text/javascript"></script>
    <script src="~/hydro/js/custom.js" type="text/javascript"></script>
    <script src="~/js/utils.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>

</body>

</html>
