<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">*@
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="paralotnia, lotnia, latanie, spadochron">
    <meta name="author" content="Tomasz Marciniak">
    <title>SkyClub</title>

    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">*@

    @*<link rel="stylesheet" href="~/css/tooplate.css">

        @*<link rel="stylesheet" href="~/css/fontawesome.min.css">*@
    <link rel="stylesheet" href="~/hydro/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/hydro/css/magnific-popup.css">
    <link rel="stylesheet" href="~/hydro/css/font-awesome.min.css">


    @*swiper*@

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link href="~/css/site.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <link href="~/css/tooplate-style.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/hydro/css/templatemo-style.css">
</head>



<body>

    <script src="~/js/jquery-3.3.1.min.js" type="text/javascript"></script>

    @RenderBody()


    <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="~/hydro/js/jquery.js" type="text/javascript"></script>
    <script src="~/hydro/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/hydro/js/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="~/hydro/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="~/hydro/js/smoothscroll.js" type="text/javascript"></script>
    <script src="~/hydro/js/custom.js" type="text/javascript"></script>
    <script src="~/js/utils.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>




    @*swiper*@
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script>

        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });

        var swiper_vehicle = new Swiper('.swiper-container-vehicle', {
            effect: 'cube',
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
        });
    </script>


</body>

</html>
