<!DOCTYPE html>
<html lang="pl">
<head>
    @*<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Page - Dashboard Admin Template</title>


        Template 2108 Dashboard

        http://www.tooplate.com/view/2108-dashboard


        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
         https://fonts.google.com/specimen/Open+Sans
        <link rel="stylesheet" href="~/css/fontawesome.min.css">
         https://fontawesome.com/
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
         https://getbootstrap.com/
        <link rel="stylesheet" href="~/css/tooplate.css">*@
    <title>Hydro - Landing Page Template</title>
    <!--
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/hydro/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/hydro/css/magnific-popup.css">
    <link rel="stylesheet" href="~/hydro/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/hydro/css/templatemo-style.css">
</head>
<body>
   

    @RenderBody()
   
</body>
</html>
