    <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <h2 class="tm-block-title d-inline-block">Product Categories</h2>
            <table class="table table-hover table-striped mt-3">
                <tbody>
                    <tr>
                        <td>1. Cras efficitur lacus</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>2. Pellentesque molestie</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>3. Sed feugiat nulla</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>4. Vestibulum varius arcu</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>5. Aenean eget urna enim</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>6. Condimentum viverra</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>7. In malesuada</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>8. Placerat</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                    <tr>
                        <td>9. Donec semper</td>
                        <td class="tm-trash-icon-cell"><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                    </tr>
                </tbody>
            </table>

            <a href="#" class="btn btn-primary tm-table-mt">Add New Category</a>
        </div>
    </div>