@model EditUserViewModel
@{
    Layout = "_AppLayout";
}
<body class="bg02">
    @*@await Html.PartialAsync("_HeaderAppPartialView")*@

    <div class="container">
        <!-- row -->
        <div class="row tm-content-row tm-mt-big">
           
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title">Edycja użytkownika</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @Html.ValidationSummary()
                            <form asp-action="Edit" asp-controller="Account" class="tm-signup-form">
                                <input type="hidden" asp-for="AddressId" />
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Name" placeholde="Podaj imię"></label>
                                    <input asp-for="Name" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" placeholde="Podaj nazwisko"></label>
                                    <input asp-for="LastName" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber">Telefon</label>
                                    <input asp-for="PhoneNumber" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Street"></label>
                                    <input asp-for="Street" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="ZipCode"></label>
                                    <input asp-for="ZipCode" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Country"></label>
                                    <input asp-for="Country" class="form-control validate">
                                </div>

                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        @*<a href="javascript:history.back() class=" btn btn-primary"">
                                        <button class="btn btn-primary">
                </button>
                                        Wstecz
                                    </a>*@

                                    </div>
                                    <div class="col-12 col-sm-8 tm-btn-right">
                                        <button type="submit" class="btn btn-danger">
                                            Zapisz zmiany
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*@await Html.PartialAsync("_FooterAppPartialView")*@     
     </div>
</body>
