@model EditPassViewModel
@{
    Layout = "_AppLayout";
}
@await Html.PartialAsync("_ValidationScriptsPartialView")
<body class="bg02">
    @*@await Html.PartialAsync("_HeaderAppPartialView")*@

    <div class="container">
        <!-- row -->
        <div class="row tm-content-row tm-mt-small">
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title">Edycja hasła</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <span class="text-info">@ViewBag.Status</span>
                        <div class="col-12">

                            <form asp-action="EditPass" class="tm-signup-form">
                                <div class="form-group">
                                    <label asp-for="OldPass"></label>
                                    <input asp-for="OldPass" placeholder="******" class="form-control">
                                    <span asp-validation-for="OldPass" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" placeholder="******" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ReapeatPassword"></label>
                                    <input asp-for="ReapeatPassword" placeholder="******" class="form-control">
                                    <span asp-validation-for="ReapeatPassword" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <button asp-action="Index" asp-controller="Dashboard" class="btn btn-primary">
                                            Wstecz
                                        </button>
                                    </div>
                                    <div class="col-12 col-sm-8 tm-btn-right">
                                        <button type="submit" class="btn btn-danger">
                                            Zapisz zmiany
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*@await Html.PartialAsync("_FooterAppPartialView")*@
    </div>
</body>
