@model EditPassViewModel
@{
    Layout = "_AppLayout";
}
@await Html.PartialAsync("_ValidationScriptsPartialView")
<body class="bg02">
    @*@await Html.PartialAsync("_HeaderAppPartialView")*@

    <div class="container">
        <!-- row -->
        <div class="row tm-content-row tm-mt-big">
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title">Edycja hasła</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @*@Html.ValidationSummary()*@
                            <div>@ViewBag.Status</div>
                            <form asp-action="EditPass" class="tm-signup-form">
                                <div class="form-group">
                                    <label asp-for="OldPass"></label>
                                    <input asp-for="OldPass" placeholder="******"  class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" placeholder="******" class="form-control validate">
                                </div>
                                <div class="form-group">
                                    <label asp-for="ReapeatPassword"></label>
                                    <input asp-for="ReapeatPassword" placeholder="******" class="form-control validate">
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <button href="javascript:history.back()" class="btn btn-primary">
                                            Wstecz
                                        </button>
                                    </div>
                                    <div class="col-12 col-sm-8 tm-btn-right">
                                        <button type="submit" class="btn btn-danger">
                                            Zapisz zmiany
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*@await Html.PartialAsync("_FooterAppPartialView")*@
    </div>
</body>
