@model RegistrationViewModel
@await Html.PartialAsync("_ValidationScriptsPartialView")
<body>
    @await Html.PartialAsync("Main/_HeaderPartialView")
    <section data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content modal-popup">

                        <div class="modal-header">
                            <a type="button" asp-action="Index" asp-controller="Home" class="close" title="Prowrót do strony głównej">
                                <span class="text-white">&times;</span>
                            </a>
                        </div>

                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                            <a type="button" asp-action="Index" asp-controller="Home">
                                                <img src="~/img/logo.png" title="Prowrót do strony głównej" />
                                            </a>
                                            @*<h2>SkyClub</h2>*@
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li><a asp-action="Login" asp-controller="Account">Logowanie</a></li>
                                            <li class="active"><a asp-action="Registration" asp-controller="Account">Rejestracja</a></li>
                                        </ul>
                                        <!-- TAB PANES -->

                                        <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                            <form asp-action="Registration" asp-controller="Account" method="post">
                                                <input asp-for="UserName" type="text" class="form-control" placeholder="Login" required>
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                                <input asp-for="Email" class="form-control" placeholder="Email" required>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                <input asp-for="Password" class="form-control" placeholder="Hasło" required>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                                <input asp-for="RepeatPassword" class="form-control" placeholder="Powtórz hasło" required>
                                                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                                                <input type="submit" class="form-control" name="submit" value="Zarejestruj">
                                            </form>
                                        </div>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>