@model EditUserViewModel
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("Main/_PreloaderPartialView")
@await Html.PartialAsync("Main/_HeaderPartialView")
<!-- BLOG HEADER -->
<section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5 col-sm-12">
                <h2>Zamówienie </h2>
            </div>
            
        </div>
    </div>
</section>

<!-- BLOG DETAIL -->
<section id="table" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5 col-sm-12">
                
            </div>
          
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Dane osoby zamawiającej</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12" style=" text-align: left">
                <!-- CONTACT FORM HERE -->
                <form asp-action="UserConfirm" asp-controller="Order" method="post">
                    <input hidden asp-for="Id" />
                    <input hidden asp-for="AddressId" />
                    <input hidden asp-for="OrderId" />
                    <div class="form-row">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Imię" required="">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Nazwisko" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Telefon" required="">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="Street"></label>
                                <input asp-for="Street" type="text" class="form-control" placeholder="Adres" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="ZipCode"></label>
                                <input asp-for="ZipCode" type="text" class="form-control" placeholder="Kod pocztowy" required="">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="City"></label>
                                <input asp-for="City" type="text" class="form-control" placeholder="Miasto" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="Country"></label>
                                <input asp-for="Country" type="text" class="form-control" placeholder="Kraj" required="">
                            </div>                   
                            <div class="col-md-6 col-sm-6">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="email" class="form-control" placeholder="E-mail" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12"></div>
                    </div>
                    <div class="row p-2 m-2">
                        <div class="col-md-1 col-sm-1 mr-3">
                            <button type="submit" class="btn btn-primary" >Zatwierdź</button>
                        </div>
                    </div>
</form>
            </div>
           
        </div>
    </div>
</section>
@*@await Html.PartialAsync("Main/_ContactPartialView")*@
@await Html.PartialAsync("Main/_FooterPartialView")




@*@await Html.PartialAsync("Main/_ScriptsPartialView")*@










