@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row tm-mt-big">
        <div class="col-12 mx-auto tm-login-col">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12 text-center">
                        <a asp-action="Registration" asp-controller="Account">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Rejestracja</h2>
                        </a>
                        @*@if (User.Identity.IsAuthenticated)
                            {*@
                        <a asp-action="Logout" asp-controller="Account">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Rejestracja</h2>
                        </a>
                         @* }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
