<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Nasze propozycje</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            @for (int i = 0; i < 7; i++)
            {
                <div class="col-md-6 col-sm-6">
                    <!-- BLOG THUMB -->
                    <div class="media blog-thumb">
                        <div class="media-object media-left">
                            @{var x = "";
                                @if (i % 2 == 0)
                                {
                                    x = "/gallery/MainLogo_3 — kopia.jpg";
                                }
                                else
                                {
                                    x = "/gallery/MainLogo_3.png";
                                }
                            }
                            <a href="blog-detail.html"><img src="~@x" class="img-responsive" alt=""></a>

                        </div>
                        <div class="media-body blog-info">
                            <small><i class="fa fa-clock-o"></i> Maj 22, 2020</small>
                            <h3><a href="blog-detail.html">Lot jednoosobowy</a></h3>
                            <p>Lot dla samotnych.</p>
                            <a href="blog-detail.html" class="btn section-btn">Read article</a>
                        </div>
                    </div>
                </div>
            }


            @*<div class="col-md-6 col-sm-6">
                 BLOG THUMB 
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="images/blog-image2.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 18, 2017</small>
                        <h3><a href="blog-detail.html">woman sportwear.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                 BLOG THUMB 
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="images/blog-image3.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 14, 2017</small>
                        <h3><a href="blog-detail.html">new creative fashion.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read article</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                 BLOG THUMB 
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="images/blog-image4.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 10, 2017</small>
                        <h3><a href="blog-detail.html">minimalist design trend in 2018.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">View Detail</a>
                    </div>
                </div>
            </div>*@

        </div>
    </div>
</section>